<div class="row" id="main_container">
	<div class="col-sm-4">
		<%= image_tag("manish.png", height: 'auto', width: '204', :class=>"img-responsive img-thumbnail")   %>		
	</div>
	<div class="col-sm-8" id="intro_section">
		<h2>Manish Anand</h2>
		<h4>Software Engineer</h4>
		<p>Faaso Food Services Pvt. Ltd.</p>
		<small>Mumbai, Maharashtra, India</small>
		<table class="table">
			<tbody>
				<tr>
					<th>Current</th>
					<td>
						<ul style="list-style-type:none">
							<li>
								Faasos
							</li>	
						</ul>
					</td>
				</tr>
				<tr>
					<th>Previous</th>
					<td>
						<ul style="list-style-type:none">
							<li>
								smartData Enterprises Inc.
							</li>
							<li>
								Bitla Software
							</li>								
						</ul>								
					</td>
				</tr>
				<tr>
					<th>Education</th>
					<td>
						<ul style="list-style-type:none">
							<li>
								BE(Visvesvaraya Technological University)	
							</li>
						</ul>						
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>