<h4>Project Title: <b>Ticket Simply</b></h4>

<div class="row">
	<div class="">
		<div class="col-sm-6">
			<div class="">
				<div class="col-sm-6">Client:</div>
				<div class="col-sm-6">Bitlasoft's Product</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Employment Type:</div>
				<div class="col-sm-6">Full-Time</div>			
			</div>			
			<div class="">
				<div class="col-sm-6">Project Location:</div>
				<div class="col-sm-6">Bangalore</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Role:</div>
				<div class="col-sm-6">Programmer/Developer</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Skill Used:</div>
				<div class="col-sm-6">Ruby2.1.2 & Rails3.2.12, HTML, CSS, Javascript, jQuery, Ajax, JSON, Rest, Bootstrap, GIT</div>	
			</div>
			<div class="">
				<div class="col-sm-6">Role Description:</div>
				<div class="col-sm-6">
					Designed view page as per the Requirement by using Rails3.1.12. 
					Implemented Action classes.
					Created migration as per requirements.
					I have also Implemented Selenium workbench for booking flow.
				</div>	
			</div>		
		</div>

		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-6">Duration:</div>
				<div class="col-sm-6">Aug 2013 - Mar 2014</div>			
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">Site:</div>
				<div class="col-sm-6">Onsite</div>			
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">Team Size:</div>
				<div class="col-sm-6">15</div>			
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-2">Project Details:</div>
		<div class="col-sm-10">
			This is an Cloud based application for Travels Management. Ticket Simply takes a unique approach to Simplify Travels Management by automating and cutting down all the error prone & expensive mundane day-to-day tasks. Communicate & follow up easily with all your business partners & passengers in growing your net revenues and building loyalty. Interface with your passengers directly by having on-line presence to allow ticket booking.
		</div>	
	</div>
</div>


