<h4>Project Title: <b>YSG Propertie</b></h4>

<div class="row">
	<div class="">
		<div class="col-sm-6">
			<div class="">
				<div class="col-sm-6">Client:</div>
				<div class="col-sm-6">YSG properties, Nigeria, West Africa</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Employment Type:</div>
				<div class="col-sm-6">Full-Time</div>			
			</div>			
			<div class="">
				<div class="col-sm-6">Project Location:</div>
				<div class="col-sm-6">Bangalore</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Role:</div>
				<div class="col-sm-6">Programmer/Developer</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Skill Used:</div>
				<div class="col-sm-6">Ruby1.9.3 & Rails3.2.8, HTML, CSS, Javascript, jQuery, Ajax, JSON, Rest, Bootstrap, GIT</div>	
			</div>
			<div class="">
				<div class="col-sm-6">Role Description:</div>
				<div class="col-sm-6">
					Implemented Rails for the Presentation.
					Implemented Action classes.
					Created migration as per requirements.
					Implemented client side validation using Java Script.Worked for all the modules after completion of project,while giving support to the client.
				</div>	
			</div>		
		</div>

		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-6">Duration:</div>
				<div class="col-sm-6">Jan 2013 - Jul 2013</div>			
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">Site:</div>
				<div class="col-sm-6">Onsite</div>			
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">Team Size:</div>
				<div class="col-sm-6">15</div>			
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-2">Project Details:</div>
		<div class="col-sm-10">
			YSG properties has been rated as one of the biggest complex in West Africa. No wonder to say, that we are maintaining the one of the top most company in property called YSG(young shall Grow) which consists more than 1500 properties* for Rent all around West Africa. Our Software Designed in such a way that helps the company to maintain the huge date base of Tenants and properties. We have a Flexible Billing structure which is completely satisfied by the customer on posting invoices to tenants. So far we achieved a lot but still we aims at bringing more comfort to our Beloved Clients and customers.
		</div>	
	</div>
</div>


