<h4>Project Title: <b>Faasos Platform</b></h4>

<div class="row">
	<div class="">
		<div class="col-sm-6">
			<div class="">
				<div class="col-sm-6">Client:</div>
				<div class="col-sm-6">Faasos</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Employment Type:</div>
				<div class="col-sm-6">Full-Time</div>			
			</div>			
			<div class="">
				<div class="col-sm-6">Project Location:</div>
				<div class="col-sm-6">Mumbai</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Role:</div>
				<div class="col-sm-6">Programmer/Developer</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Skill Used:</div>
				<div class="col-sm-6">Ruby on Rails, HTML, CSS, Javascript, jQuery, Ajax, JSON, Rest, Bootstrap, GIT</div>	
			</div>
			<div class="">
				<div class="col-sm-6">Role Description:</div>
				<div class="col-sm-6">Implemented new features. Created migration as per requirements. Designed few view pages as per the requirement by using Bootstrap.</div>	
			</div>		
		</div>

		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-6">Duration:</div>
				<div class="col-sm-6">Dec 2015 - Mar 2016</div>			
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">Site:</div>
				<div class="col-sm-6">Onsite</div>			
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">Team Size:</div>
				<div class="col-sm-6">2</div>			
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-2">Project Details:</div>
		<div class="col-sm-10">Faasos platform is mainly used to manage the whole functinality of an order, either it directly comes from the mobile app or website or from customer support or directly puched on faasos store. This project is mainly divided into four parts. First parts is for admin side where athe admin can login and do their respective work like inventory creation, driver creation, store creation etc. Second part is for the store manager where the store manager can login and access the application and do all the needfull related to an order. The third part of the application is used by the inventory management guy and the fourth is for customer care person.</div>	
	</div>
</div>


