<h4>Project Title: <b>mVerso</b></h4>

<div class="row">
	<div class="">
		<div class="col-sm-6">
			<div class="">
				<div class="col-sm-6">Client:</div>
				<div class="col-sm-6">mverso.com</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Employment Type:</div>
				<div class="col-sm-6">Full-Time</div>			
			</div>			
			<div class="">
				<div class="col-sm-6">Project Location:</div>
				<div class="col-sm-6">Mohali</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Role:</div>
				<div class="col-sm-6">Programmer/Developer</div>			
			</div>
			<div class="">
				<div class="col-sm-6">Skill Used:</div>
				<div class="col-sm-6">Ruby on Rails, HTML, CSS, Javascript, jQuery, Ajax, JSON, Rest, Bootstrap, GIT</div>	
			</div>
			<div class="">
				<div class="col-sm-6">Role Description:</div>
				<div class="col-sm-6">
					Write clean, maintainable and efficient code. Design robust, scalable and secure features. Contribute in all phases of the development life-cycle.
				</div>	
			</div>		
		</div>

		<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="col-sm-6">Duration:</div>
				<div class="col-sm-6">Feb 2015 - Oct 2015</div>			
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">Site:</div>
				<div class="col-sm-6">Onsite</div>			
			</div>
			<div class="col-sm-12">
				<div class="col-sm-6">Team Size:</div>
				<div class="col-sm-6">4</div>			
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-2">Project Details:</div>
		<div class="col-sm-10">
			mVerso is the technology leader in mobile engagement. Our marketing cloud empowers companies to acquire and nurture mobile connections with intelligent services and applications that allow customers to take action in their immediate context and moments of need.
		</div>	
	</div>
</div>


