<div class="row">
	<div class="col-sm-4">
		<%= image_tag("manish.png", height: 'auto', width: '204', :class=>"img-responsive img-thumbnail")   %>		
	</div>
	<div class="col-sm-8" id="intro_section">
		<div>
			<h2>Manish Anand</h2>
			<h4>Software Engineer</h4>
			<p>
				Faasos Food Services Pvt. Ltd.<br/>
				Mumbai, Maharashtra, India
			</p>
		</div>

		<table class="table">
			<tbody>
				<tr>
					<th>Current</th>
					<td>
						<ul style="list-style-type:none">
							<li>
								Faasos Food Services Pvt. Ltd.<br/>
								<i>Dec 2015 to Present (1 year(s) - 4 month(s))</i>
							</li>	
						</ul>
					</td>
				</tr>
				<tr>
					<th>Previous</th>
					<td>
						<ul style="list-style-type:none">
							<li>
								smartData Enterprises (I) Ltd.<br/>
								<i>Feb 2015 to Nov 2015 (0 year(s) - 9 month(s))</i>
							</li>
							<br/>
							<li>
								Bitla Software Pvt. Ltd.<br/>
								<i>Oct 2012 to Jan 2015 (2 year(s) - 3 month(s)</i>
							</li>								
						</ul>								
					</td>
				</tr>
				<tr>
					<th>Education</th>
					<td>
						<ul style="list-style-type:none">
							<li>
								BE (Visvesvaraya Technological University)	
							</li>
						</ul>						
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>